.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
}

/* Loading Spinner style */
.fa {
  margin-left: 50%;
}

/* background image styles */
body {
  background-image: url('./background.jpg');
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  height: 1500px;
}

.custom-modal {
  padding-top: 20%;
}

#contained-modal-title-lg {
  font-size: 24px;
}

#custom-modal-body {
  font-size: 45px;
}
